aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
babel
backoff
bcrypt
beautifulsoup4
bleach
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
distro
durationpy
executing
fastapi
fastjsonschema
ffmpy
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
google-auth
googleapis-common-protos
gradio
gradio_client
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jiter
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kagglehub
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
posthog
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
pyparsing
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
ruff
safehttpx
safetensors
seaborn
semantic-version
Send2Trash
sentence-transformers
shellingham
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
sympy
tenacity
terminado
tiktoken
tinycss2
tokenizers
tomlkit
torch
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
uri-template
urllib3
uvicorn
# uvloop
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
wrapt
yarl
zipp